body{
    margin: 0;
    font-family: sans-serif;
    
}

.content{
    display: flex; flex-direction: column;
    justify-content: space-between; 
    gap: 10px;
    align-items: center;
}


table{
    display: flex;
    gap: 30px;
}

.t-row{
    display: flex;
    gap: 50px;
    border: 1px solid #343434;
}

input{
    padding: 5px;
}
