{% extends 'base.html' %}

{% block head %}
    
{% endblock %}

{% block body %}
    <div class="content" >
        <h1>Task Maker</h1>
        {% if tasks|length < 1 %}
        <h4>There are no tasks, Create one below</h4>
        {% endif %}
        <table>
            <tr style="display: flex; justify-content: space-around;">
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr class="t-row">
                <td>{{task.content}}</td>
                <td>{{task.date_created.date()}}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <form action="/" method="POST">
            <input type="text" name="content" id="content"/>
            <input type="submit" value="Add Task">

        </form>
    </div>
{% endblock %}